<a href="https://colab.research.google.com/github/wvirany/rosalind/blob/rosalind11/solutions/rosalind11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mortal Fibonacci Rabits

### Problem:

`Given`: Positive integers $n \leq 100$ and $m \leq 20$

`Return`: The total number of pairs of rabbits that will remain after the $n^{th}$ month if all rabbits live for $m$ months

In [52]:
def mortal_rabbits(n, m):

  a, b = 1, 1

  F = [1, 1]

  for i in range(2, n):
    if i < m: F.append(F[i-1] + F[i-2])
    else: F.append(F[i-1] + F[i-2] - F[i-m])
    print(i)

  return F

def fib_m(n, m):

In [53]:
print(mortal_rabbits(6, 3))

2
3
4
5
[1, 1, 2, 2, 3, 3]